body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #01743aec;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 3em;
    margin: 0;
    letter-spacing: 2px;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.sucos {
    padding: 50px 20px;
    text-align: center;
}

.sucos h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #246500;
}

.sucos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.suco {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center;
}

.suco:hover {
    transform: translateY(-10px);
}

.suco img {
    width: 100px;
    height: 100px;
   
}

.suco h3 {
    font-size: 1.5em;
    margin: 10px 0;
   
}

button {
    background-color: #01743aec;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #64d11b;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s;
        width: 200px;
        text-align: center;
}

h1, h3 {
    color: #ff6f61;
    animation: rainbowText 2s infinite;
}

@keyframes rainbowText {
    0% { color: rgb(191, 255, 0); }
    20% { color: rgb(162, 255, 0); }
    40% { color: rgb(128, 255, 0); }
    60% { color: rgb(0, 196, 0); }
    80% { color: rgb(0, 216, 36); }
    100% { color: rgb(174, 255, 0); }
}

h2{
    animation:rainbowText 2s infinite;
}
@keyframes rainbowText{
  0% { color: rgb(191, 255, 0); }
    20% { color: rgb(162, 255, 0); }
    40% { color: rgb(128, 255, 0); }
    60% { color: rgb(0, 196, 0); }
    80% { color: rgb(0, 216, 36); }
    100% { color: rgb(174, 255, 0); }
} 


.suco2 {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center; 
}
.suco3 {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center; 
}
.suco4 {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
    text-align: center; 
}